@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/MasterAdmin.cshtml";
}
<br />
<div class="col-sm-12" style="margin-top:5%;">
    <div class="col-sm-4 text-center" >
        <a href="/Admin/ViewRegistration"><i class=" fa fa-user" style="font-size:80px;color:black;"></i></a>
    </div>
    <div class="col-sm-4 text-center " >
        <a href="/Admin/ViewDonation"><i class=" fa fa-rupee" style="font-size:80px;color:black;"></i></a>
    </div>
    <div class="col-sm-4 text-center ">
        <a href="/Admin/ViewSug"><i class=" fa fa-comments" style="font-size:80px;color:black;"></i></a>
    </div>
</div>
<div class="col-sm-12" style="margin-top:5%;">
    <div class="col-sm-4 text-center">
        <a href="/Admin/AddNoti"><i class=" fa fa-bell" style="font-size:80px;color:black;"></i></a>
    </div>
    <div class="col-sm-4 text-center ">
        <a href="/Admin/AddGallery"><i class=" fa fa-image" style="font-size:80px;color:black;"></i></a>
    </div>
    
</div>



