@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/General_Master_Page.cshtml";
}


<div class="container-fluid" style="box-shadow: rgba(15, 133, 117, 0.82) 4px 5px 6px 5px , rgba(255, 255,255,0.5) -3px -3px 6px 2px;">
    <div class="row">
        <div class="col-sm-12" style="min-height:40px;background-color:rgba(176, 152, 152, 0.86);">
            <h2 style="font-family:'Arial Rounded MT';font-size:25px;font-weight:bold;">About SBA</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="min-height:730px;background-color:#e1d880;">
            <br />
            <p style="font-size:20px;font-family:'Bodoni MT';font-weight:bold;">
                Swachh Bharat Abhiyan is a national level campaign launched by the Government of India with the objective of keeping streets, roads and infrastructure clean and garbage clean. This campaign was launched on 2nd October, 2014 . The Father of the Nation Mahatma Gandhi freed the country from slavery, but his dream of 'Clean India' was not fulfilled.<br />
            </p>
            <div class="col-sm-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-4 ">       <span style="color:darkblue;font-size:20px;font-family:Algerian;font-weight:bold;text-align:center;padding-top:10px;">" स्वच्छता का करोगे जब काम<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; विकसित राष्ट्रों में आएगा अपना नाम "</span></div>
                <div class="col-sm-5"></div>
            </div>
            <br /><p style="font-size:20px;font-family:'Bodoni MT';font-weight:bold;">
                Mahatma Gandhi gave an excellent message to the nation by providing education to the people around him about maintaining cleanliness. Swachh Bharat aims to reduce or eliminate the problem of open defecation through the construction of individual, cluster and community toilets. Swachh Bharat Mission is also an initiative to set up an accountable mechanism for monitoring immersion usage The government has taken open construction of 1.2 crore toilets in rural India at an estimated cost of Rs 1.96 lakh crore by October 2 , 2019 , the 150th anniversary of the birth of Mahatma Gandhi . "The goal is to achieve an open defecation free India."
            </p>
            <div class="col-sm-12" style="min-height:200px;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">

                    <img src="~/Content/Project_Images/AboutImg/sba10.jpg" class="hvr-box-shadow-outset" style="height:200px; width:80%;" />
                </div>
                <div class="col-sm-3"></div>
            </div>
            <p style="font-size:20px;font-family:'Bodoni MT';font-weight:bold;padding-top:10px;">The mission seeks to achive the goal of clean India n next five years so that the 150th birth anniversary of Bapu can be celebrated as an accomplishment of this duty. Swachh Bharat Abhiyaan- External website that opens in a new window exhorts people to devote 100 hoursevery year towards the cause of cleanliness. As many as nine public figures:Mridula Sinha,Sachin Tendulkar, Baba Ramdev, Shashi Tharoor, Anil Ambani, Kamal Hasan, Salman Khan, Priyanka Chopra - have been invited by the PM to make a contribution towardsSwachh Bharat, share the same on social media, and invite nine other people to do the same,hence forming a chain. People also asked to share their contributions on social media using the hash-tag MyCleanIndia.</p>

        </div>
    </div>



    <!---->
</div>
<br />