@{
    ViewBag.Title = "Areas";
    Layout = "~/Views/Shared/General_Master_Page.cshtml";
}

<div class="container-fluid" style="box-shadow: rgba(15, 133, 117, 0.82) 4px 5px 6px 5px , rgba(255, 255,255,0.5) -3px -3px 6px 2px;padding:0px;">
    
    <div class="col-sm-12" style="min-height:40px;background-color:darkblue;color:white;font-weight: bold;font-size: 30px;font-family: serif; text-align: center">
        Toilets in Rural Areas
    </div>
    <div class="col-sm-12" style="background-color:lightblue;color:black;font-size: 20px;font-family: sans-serif;">
        <br />  The government has set a target to achieve Open Defecation Free (ODF) India by 2 October 2019, at an estimated cost of Rs 1.96 lakh crorein rural India by 2 October 2019, the 150th anniversary of the birth of Mahatma Gandhi. 30 billion to achieve Open Defecation Free India (ODF) by constructing 12 million toilets.Prime Minister Narendra Modi spoke about the need for toilets in his 2014 Independence Day speech: Have we ever felt pain that our mothers and sisters have to defecate in the open? The poor women of the village wait for the night; They cannot go out to defecate until the darkness sets in. What kind of physical torture would they be subjected to, can we not arrange toilets for the dignity of our mothers and sisters?<br /><br />Modi also spoke about the need for toilets in schools during the 2014 Jammu and Kashmir state election campaign:
        When the girl student reaches an age where she learns that she has dropped out of her education because of the lack of female toilets in the school, and therefore, when she does, she remains uneducated. Our daughters should also get equal opportunity of quality education. After 60 years of independence, each school should have a separate toilet for girl students. But for the last 60 years they could not provide separate toilets for girls and as a result, female students had to leave their education midway.
        <img src="~/Content/Project_Images/images1/sba11.jpg" style="height:300px;width:100%;" />
    </div>

</div>

<br />
