@{
    ViewBag.Title = "Gobardhan";
    Layout = "~/Views/Shared/General_Master_Page.cshtml";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="min-height:60px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center" style="min-height: 60px; background-color: #1189a4; color: white; font-weight: bold; font-family: Georgia;font-size:35px;">Gobardhan</div>
            <div class="col-sm-3"></div>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12 text-center" style="min-height: 40px; color: orangered; font-size: 27px; font-weight: bold; font-family:Georgia;">A Janandolan on safe management of cattle and organic waste</div>
        </div>
    <div class="row">
        <div class="col-sm-12" style="min-height:500px;">
            <div class="col-sm-6" style="min-height:400px;">
                <div class="col-sm-12" style="min-height:5px;"></div>
                <div class="row">
                    <div class="col-sm-12 hvr-bounce-out" style="min-height:80px;background-color:#1189a4;">
                      <br />  <span class="s">288</span>&nbsp;&nbsp;<span class="b">Bio Gas/CBG Plants - Functional</span>
                    </div>
                </div>
                <div class="row"><div class="col-sm-12" style="min-height:5px;"></div>
                    <div class="col-sm-12 hvr-bounce-out" style="min-height:80px;background-color:#1189a4;">
                        <br />  <span class="s">25</span>&nbsp;&nbsp;<span class="b">Bio Gas/CBG Plants-Construction in Process</span>
</div>
                </div><div class="col-sm-12" style="min-height:5px;"></div>
                <div class="row">
                    <div class="col-sm-12 hvr-bounce-out" style="min-height:80px;background-color:#1189a4;">
                        <br />  <span class="s">39</span>&nbsp;&nbsp;<span class="b">Bio Gas/CBG Plants-Construction Complete</span>
                    </div>
                </div><div class="col-sm-12" style="min-height:5px;"></div>
                <div class="row">
                    <div class="col-sm-12 hvr-bounce-out" style="min-height:80px;background-color:#1189a4;">
                        <br />  <span class="s">146</span>&nbsp;&nbsp;<span class="b">Number of Distric Covered</span>
                    </div>
                </div><div class="col-sm-12" style="min-height:5px;"></div>
                <div class="row">
                    <div class="col-sm-12 hvr-bounce-out" style="min-height:80px;background-color:#1189a4;">
                        <br />  <span class="s">16,761</span>&nbsp;&nbsp;<span class="b">Installed Capacity of Bio Gas</span>
                    </div>
                </div><div class="col-sm-12" style="min-height:5px;"></div>
                <div class="row">
                    <div class="col-sm-12 hvr-bounce-out" style="min-height:80px;background-color:#1189a4;">
                        <br />  <span class="s">2,03,102</span>&nbsp;&nbsp;<span class="b">Installed Capacity of Commercial CBG  Plants(in Kg)</span>
                    </div>
                </div>
            
             </div>
            <div class="col-sm-6" style="min-height:500px;"><div class="col-sm-12" style="min-height:10px;"></div>
                <div class="col-sm-12" style="min-height:480px;border:2px solid white;border-radius:20px;background-color:whitesmoke;box-shadow:rgb(204, 219, 232) 3px 3px 6px 4px inset, rgba(255, 255,255,0.5) -3px -3px 6px 2px; "><br />
                    <p style="font-size:23px;font-weight:bold;text-align:center;font-family:'Arial Rounded MT';color:#1189a4">" यदि गोबरधन योजना सही मायने में लागू हो,तो हम स्वच्छ भारत मिशन, कचरे से सम्पदा व स्वच्छ ऊर्जा प्राप्त कर सकते हैं तथा देश की आयात निर्भरता भी &nbsp;&nbsp; कम होगी। "</p>
                    <span style="font-size:25px;font-weight:bolder;font-family:'Bodoni MT';margin-left:30px;">PM Narendra Modi
                            (30th Sep 2018)</span>

                    <img src="~/Content/Project_Images/modiji.png" style="height:300px;"   />
            </div>
        </div>
    </div>
    <!---->
</div></div>
<br /><br />