@{
    ViewBag.Title = "Impacts";
    Layout = "~/Views/Shared/General_Master_Page.cshtml";
}

<div class="container-fluid" style="box-shadow: rgba(15, 133, 117, 0.82) 4px 5px 6px 5px, rgba(255, 255,255,0.5) -3px -3px 6px 2px; padding: 0px;" >
    <div class="col-sm-12 text-center" style="min-height:40px;;background-color:darkblue;font-size:25px;color:whitesmoke;font-family:serif;font-weight:bold;padding:0px;padding-top:5px;">Impacts of Swachh Bharat Abhiyan</div>
    <div class="col-sm-12" style="background-color:powderblue;font-family:sans-serif;font-size:20px;"><br />
        <p>
            According to the dashboards maintained by respective ministries, more than 100 million individual household level toilets have been constructed in rural areas, and 6 million household toilets in urban areas. In addition, nearly 6 million community and public toilets have also been constructed in the urban areas. Consequently, 4,234 cities and more than 600,000 villages across the country have declared themselves open defecation free.<br /><br />
          More than 81.5 thousand wards in urban areas now have 100% door to door collection of solid waste and nearly 65 thousand wards practice 100% segregation of waste at source. Of the nearly 150 thousand metric tonnes of solid waste generated in urban areas, 65% is being processed.An independent survey released by Quality Council of India in August 2017, reported that overall national rural "household access to toilet" coverage increased to 62.5% and usage of toilets to 91.3%, with Haryana topping the national ranking with 99% of households in rural areas covered and usage of toilets of 100%.According to UNICEF The number of people without a toilet reduced from 550 million to 50 million.<br /><br /> The World Bank reports that 96% of Indians who have a toilet use it.There have also been reports of people not using the toilets despite having one, although according to the world bank 96% of Indians used the toilets they had. World Health Organization (WHO) has in its report stated that at least 180,000 diarrhoeal deaths were averted in rural India since the launch of the Swachh Bharat Abhiyan.
        </p>
        <img src="~/Content/Project_Images/images1/220px-IndoreMontage.jpg" style="height:450px;width:40%;" class="hvr-bounce-out" />&nbsp;&nbsp;
        <img src="~/Content/Project_Images/images1/650_swachchsurvekshan.jpg" style="height:450px;width:55%;" class="hvr-bounce-out" />
    </div>
</div>
<br />
