@{
    ViewBag.Title = "Nmani";
    Layout = "~/Views/Shared/General_Master_Page.cshtml";
}

<div class="container-fluid" style="box-shadow: rgba(15, 133, 117, 0.82) 8px 10px 10px 5px , rgba(255, 255,255,0.5) -3px -3px 6px 2px;padding:0px;">
    
        <div class="col-sm-12" style="min-height: 30px;background-color:darkblue;color:white;font-weight: bold;font-size: 30px;font-family: serif; text-align: center"> NAMAMI GANGE</div>
        <div class="col-sm-12" style="min-height: 30px;background-color:lightblue;color:black;font-weight: bold;font-size: 30px;font-family: serif; "> Namami Gange </div>

        <div class="col-sm-12" style="background-color:lightblue;color:black;font-size: 20px;font-family: serif; ">
            The ‘Namami Gange’ programme is an Integrated Conservation Mission initiated as a flagship programme by the Union Government with a budget outlay of Rs.20,000 crore in June 2014. The Namami Gange was launched to accomplish the objectives of conservation, rejuvenation and effective reduction of pollution of the National River, Ganga.<br>
            The Namami Gange programme is an umbrella programme that integrates the previous and current ongoing initiatives by increasing efficiency and supplementing them with better coordinated and more comprehensive interventions. The Government of India is helping the efforts of the State Governments to address the pollution of the River Ganga by giving financial support to the states.<br>
            There is an enormous need to clean the River Gange as every day, about 500 million litres of wastewater from industrial sources are directly dumped into Ganga. In many places, the wastewater entering the river is wholly untreated and raw.
            The implementation of Namami Gange is divided into: <img src="~/Content/Project_Images/images1/gangaimg2.jpg" style="height:400px; width:100%;" />
        </div>
        <div class="col-sm-12" style="min-height: 30px;background-color:lightblue;color:black;font-weight: bold;font-size: 30px;font-family: serif; "><br /> NMCG </div>
        <div class="col-sm-12" style=" background-color: lightblue; color: black; font-size: 20px; font-family: serif;">
            NMCG has a two tier management structure and comprises of Governing Council and Executive Committee. Both of them are headed by Director General, NMCG. Executive Committee has been authorized to accord approval for all projects up to Rs.1000 crore. Similar to structure at national level, State Programme Management Groups (SPMGs) acts as implementing arm of State Ganga Committees. Thus the newly created structure attempts to bring all stakeholders on one platform to take a holistic approach towards the task of Ganga cleaning and rejuvenation.<br><br>About NMCG
            National Mission for Clean Ganga(NMCG) was registered as a society on 12th August 2011 under the Societies Registration Act 1860.It acted as implementation arm of National Ganga River Basin Authority(NGRBA) which was constituted under the provisions of the Environment (Protection) Act (EPA),1986. NGRBA has since been dissolved with effect from the 7th October 2016, consequent to constitution of National Council for Rejuvenation, Protection and Management of River Ganga (referred as National Ganga Council) vide notification no.<p><br>Act envisages five tier structure at national, state and district level to take measures for prevention, control and abatement of environmental pollution in river Ganga and to ensure continuous adequate flow of water so as to rejuvenate the river Ganga as below; </p><img src="~/Content/Project_Images/images1/gangaimg4.jpg" style="height: 400px; width:100%;" /><br>
        </div>
        <div class="col-sm-12" style="min-height: 30px;background-color:lightblue;color:black;font-weight: bold;font-size: 30px;font-family: serif; "> Features of Namami Gange Programme </div>
        <div class="col-sm-12" style=" background-color: lightblue; color: black; font-size: 20px; font-family: serif;">
            Features of Namami Gange Programme
            Under the aegis of the State Program Management Groups (SPMGs) and the National Mission for Clean Ganga (NMCG), the States, Urban Local Bodies, and Panchayati Raj institutions will be involved in this programme.
            Setting up a river-centric urban planning process to facilitate better citizens connections through interventions at river-fronts and ghats.
            Development of efficient irrigation methods and rational agricultural practices under this programme.
            The Centre funds 100% of the projects/activities under this programme.
            The Centre provides assets operation and uses an SPV/PPP method for fighting pollution hotspots.
            Emphasis on coordinated mechanisms between agencies and ministries of the Central and State Government.
            Focus on pollution elimination.<br><p>Entry-level activities for immediate impact.</p>
            <p>:   Medium-term activities that are to be implemented within five years.
            <p>:   Medium-term activities that are to be implemented within five years.</p>
            <p>:   Long-term activities to be implemented within ten years.</p>
            <img src="~/Content/Project_Images/images1/gangaimg7.jpg" style="height:300px;width:100%;" />
        </div>
        <div class="col-sm-12" style="min-height: 30px;background-color:lightblue; ">
            <p style="font-weight: bold;font-size: 30px;font-family: serif;"> why we need "Namami Gange" programme?</p>
            <div class="col-sm-12" style="min-height: 500px;">
                <div class="col-sm-8" style=" background-color: lightblue;">
                    <p style="font-size:20px; font-family:serif;">
                        why we need "Namami Gange" programme?
                        river ganga has significant economic, environmental and cultural value in india.
                        rising in the himalayas and flowing to the bay of bengal, the river traverses a course of more than 2,500 km through the plains of north and eastern india.
                        the ganga basin - which also extends into parts of nepal, china and bangladesh - accounts for 26 per cent of india's landmass.
                        the ganga also serves as one of india's holiest rivers whose cultural and spiritual significance transcends the boundaries of the basin.<br><br>National Mission for Clean Ganga, endeavors to deploy best available knowledge and resources across the world for Ganga rejuvenation. Clean Ganga has been a perennial attraction for many international countries that have expertise in river rejuvenation. Countries such as Australia, United Kingdom, Germany, Finland, Israel etc. have shown interest in collaborating with India for Ganga rejuvenation.<br><br> Memorandums of Understanding (MoUs) were signed with various Central Ministries viz.- Ministry of Human Resource Development, Ministry of Rural Development, Ministry of Railways, Ministry of Shipping, Ministry of Tourism, Ministry of Ayush, Ministry of Petroleum, Ministry of Youth Affairs and Sports, Ministry of Drinking Water and Sanitation and Ministry of Agriculture for synergizing the Government schemes.
                    </p>
                </div>
                <div class="col-sm-4" style="min-height: 500px;">
                    <img src="~/Content/Project_Images/images1/gangaimg5.jpg" style="height:500px;width:100%;" />
                </div>
            </div>
        </div>
    </div>
<br />