@{
    ViewBag.Title = "Seva";
    Layout = "~/Views/Shared/General_Master_Page.cshtml";
}
<div class="container-fluid" style="background-color:lightgrey;">
    <div class="row">
        <div class="col-sm-12" style="min-height:600px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="min-height:500px;background-color:white;">
                <h2 style="font-weight:bolder;font-size:20px;margin-left:30px;">Seva Samarpan</h2><hr />
                <div class="row">
                    <div class="col-sm-12" style="min-height:300px;">
                        <img src="~/Content/Project_Images/gallery%20pic/sb2.png"  height="300px" width="100%"/>
                    </div>
                </div>
                <div class="row">
                <div class="col-sm-12 text-center" style="min-height:300px;"><br />
                    <p style="font-size:18px;font-family:'Bodoni MT';">The Hon'ble Prime Minister Shri Narendra Modi celebrates his 71st birthday today.</p>
                    <br />
                    <p style="font-size:18px;font-family:'Bodoni MT';">7th October will see another milestone when PM Modi completes 20 years of governance, as CM of Gujarat and PM of the Republic of India</p><br />
                    <p style="font-size:18px;font-family:'Bodoni MT';">Given the immense contribution of the Prime Minister to nation-building, the period from 17th Sep to 7th Oct is being observed as Seva Aur Samarpan: 20 years of Good Governance.</p><br />
                    <p style="font-size:18px;font-family:'Bodoni MT';">You are invited to celebrate our visionary Prime Minister's stellar leadership through a series of activities including quizzes, that bring his achievements alive.</p><hr />
                </div>
                </div>

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
